*

### Includes ###
!pnpm-*.yaml
!package.json
!patches/**
!packages/**/src/**
!packages/**/assets/**
!**/package.json
!**/nodemon.json
!**/tsconfig.json
!**/build.js
!next.config.mjs
!sentry.*.config.ts
!public/**
!src/**
!tests/**
!start.*.sh
