*.swo
*.swp

.DS_Store

logs
.pnpm-debug.log
.env*
github.secrets
node_modules/
app-data/*
data/postgres
!app-data/.gitkeep
repos/*
!repos/.gitkeep
apps/*
!apps/.gitkeep
traefik/shared
media

state/*
!state/.gitkeep
media
