@keyframes slideInAndOut {
  0% {
    transform: translateX(100%);
  }
  5% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slideIn {
  animation: slideInAndOut 5s ease-in-out;
}
