.button-tile {
  background: none;
  padding-block: 0;
  color: inherit;
  border: none;
  border-width: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  padding: 0;
}

.button-tile:hover {
  text-decoration: none;
  color: inherit;
}

.link-primary-subtle {
  /* biome-ignore lint/complexity/noImportantStyles: can't find a better way */
  color: inherit !important;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
