.button-tile {
  background: none;
  padding-block: 0;
  color: inherit;
  border: none;
  border-width: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  padding: 0;
}

.button-tile:hover {
  text-decoration: none;
  color: inherit;
}
