
version: "3.7"
services:
  adguard:
    image: adguard/adguardhome:v0.107.7
    container_name: adguard
    volumes:
      - "${APP_DATA_DIR}/data/work:/opt/adguardhome/work"
      - "${APP_DATA_DIR}/data/conf:/opt/adguardhome/conf"
    restart: unless-stopped
    networks:
      - tipi_main_network
    ports:
      - 53:53/tcp
      - 53:53/udp
      - ${APP_PORT}:80
