.app-link {
  text-decoration: none;
  color: inherit;
  transition: color;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.app-link:hover {
  text-decoration: none;
}

/* Thank you bootstrap, we will take it from here */
.row > * {
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
