.app-link {
  text-decoration: none;
  color: inherit;
  transition: color;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.app-link:hover {
  text-decoration: none;
}
