# Only edit this file if you know what you are doing!
# It will be overwritten on update.

APPS_REPO_ID=<apps_repo_id>
APPS_REPO_URL=<apps_repo_url>
TZ=<tz>
INTERNAL_IP=<internal_ip>
DNS_IP=<dns_ip>
ARCHITECTURE=<architecture>
TIPI_VERSION=<tipi_version>
JWT_SECRET=<jwt_secret>
ROOT_FOLDER_HOST=<root_folder>
NGINX_PORT=<nginx_port>
NGINX_PORT_SSL=<nginx_port_ssl>
POSTGRES_PASSWORD=<postgres_password>
DOMAIN=<domain>
STORAGE_PATH=<storage_path>