@keyframes zoomIn {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dimmedBackground {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.dimmedBackground {
  animation-name: dimmedBackground;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-timing-function: spring;
  animation-fill-mode: forwards;
}
