.otpGroup {
  display: flex;
  width: 100%;
  max-width: 360px;
  column-gap: 10px;
}

.otpInput {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
